html, body, div {
 margin: 0;
 padding: 0;
 font-family: Century Gothic, sans-serif;
}

table {
 border-collapse: collapse;
 border-spacing: 0;
}

th, td {
 vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption {
	font-weight:normal;
}

h1 {
	margin: 10px 15px;
	padding: 0;
}

table {
	width: 100%;
	border-collapse: collapse;
}

td, th {
	padding: 5px;
}

th {
	background: #ddd;
}

.contents {
	width: 70%;
	margin: 5px auto;
}

.tableborder {
	border: 1px #bdbdbd solid;
}

footer p {
	text-align: center;
}
